In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:\\Users\\AKASH SONI\\Downloads\\IRIS.csv")
data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [3]:
def speciesFunc(k):
    if k == "Iris-setosa":
        return 0
    if k == "Iris-versicolor":
        return 1
    if k == "Iris-virginica":
        return 2 

    
data['species']=data['species'].apply(speciesFunc)

data['species']

def speciesName(k):
    if k == 0:
        return "Iris-setosa"
    if k == 1:
        return "Iris-versicolor"
    if k == 2:
        return "Iris-virginica"

In [8]:
x = data.iloc[:,0:4].values
y = data['species'].values

In [7]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y)

In [12]:
from sklearn.svm import SVC
svc = SVC()

svc.fit(x_train,y_train)
pr=svc.predict(x_test)
pr

array([0, 1, 2, 2, 0, 2, 0, 0, 1, 1, 1, 1, 2, 2, 2, 2, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 1, 1, 0, 2, 0, 2, 0, 0, 1, 0, 0, 1, 1], dtype=int64)

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pr)

0.9210526315789473