In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("C:\\Users\\AKASH SONI\\Downloads\\CREDIT CRITERION.csv",usecols=(0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15))
data= data[:10]
data

,Gender,V 1. Age,V 2. Occupation (Government Employee with salary slip & ITR of last three years),V 3. Occupation (Private employee Employee with salary slip & ITR of last three years),V 4. Occupation (Business with IT return of last three years),V 10. Ownership Status of House (Owned/Rented),V 11. Previous history of loan from other banks,V 13. Default status,V 14. Minimum Net Monthly Income,V 15. Credit Score (CIBIL Score),V 16. Collaterals/guarantee,"V 18. Guarantor�s Documents (Personal details, PAN/AADHAR Card, Employment details.)",V 20. Value of the Property/assets owned,V 21. Credit Card,Loan Previous status,loan Person
0,1,2,1.0,0,0,1,1.0,1,1,2,0,1,1,1,0.0,1.0
1,1,4,1.0,0,0,2,1.0,0,2,1,1,1,1,1,0.0,0.0
2,2,3,1.0,0,0,1,1.0,0,3,1,1,1,1,1,0.0,1.0
3,1,2,0.0,1,0,2,0.0,0,3,1,1,0,0,0,0.0,0.0
4,1,2,0.0,1,0,1,1.0,0,2,1,1,1,1,1,0.0,1.0
5,1,2,0.0,1,0,2,1.0,0,1,1,1,1,1,1,0.0,0.0
6,2,4,1.0,0,0,1,1.0,1,2,2,0,0,0,0,1.0,1.0
7,1,3,0.0,0,1,2,0.0,0,3,1,1,1,1,1,1.0,0.0
8,2,2,0.0,0,1,1,0.0,0,2,1,1,1,1,1,1.0,1.0
9,2,4,0.0,0,1,2,1.0,0,1,1,1,1,1,1,1.0,0.0

In [3]:
# data.describe()

In [4]:
x = data.iloc[:,:15].values
y = data['loan Person'].values

In [5]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y)

In [6]:
from sklearn.neighbors import KNeighborsClassifier 

knn = KNeighborsClassifier()

knn.fit(x_train,y_train)

KNeighborsClassifier()

In [7]:
pr=knn.predict(x_test)
pr

array([1., 1., 0.])

In [8]:
from sklearn.metrics import accuracy_score

accuracy_score(y_test,pr)

0.6666666666666666