In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv")
df

,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 21
0,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Intolerance: Love’s Struggle Throughout the Ages,1916.0,Drama|History|War,NaN,USA,Not Rated,123.0,1.33,385907.0,NaN,...,436.0,22.0,9.0,481.0,691.0,1.0,10718.0,88.0,69.0,8.0
2,Over the Hill to the Poorhouse,1920.0,Crime|Drama,NaN,USA,NaN,110.0,1.33,100000.0,3000000.0,...,2.0,2.0,0.0,4.0,0.0,1.0,5.0,1.0,1.0,4.8
3,The Big Parade,1925.0,Drama|Romance|War,NaN,USA,Not Rated,151.0,1.33,245000.0,NaN,...,81.0,12.0,6.0,108.0,226.0,0.0,4849.0,45.0,48.0,8.3
4,Metropolis,1927.0,Drama|Sci-Fi,German,Germany,Not Rated,145.0,1.33,6000000.0,26435.0,...,136.0,23.0,18.0,203.0,12000.0,1.0,111841.0,413.0,260.0,8.3
5,Pandora’s Box,1929.0,Crime|Drama|Romance,German,Germany,Not Rated,110.0,1.33,NaN,9950.0,...,426.0,20.0,3.0,455.0,926.0,1.0,7431.0,84.0,71.0,8.0

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv")
df.columns

Index(['Year', 'Genres', 'Language', 'Country', 'Content Rating', 'Duration',
       'Aspect Ratio', 'Budget', 'Gross Earnings', 'Director', '…',
       'Facebook Likes – Actor 1', 'Facebook Likes – Actor 2',
       'Facebook Likes – Actor 3', 'Facebook Likes – cast Total',
       'Facebook likes – Movie', 'Facenumber in posters', 'User Votes',
       'Reviews by Users', 'Reviews by Crtiics', 'IMDB Score', 'Unnamed: 21'],
      dtype='object')

In [6]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",nrows=2)
df

,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 21
0,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Intolerance: Love’s Struggle Throughout the Ages,1916.0,Drama|History|War,NaN,USA,Not Rated,123.0,1.33,385907.0,NaN,...,436.0,22.0,9.0,481.0,691.0,1.0,10718.0,88.0,69.0,8.0

In [7]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",usecols=[0,2])
df

                                               Year             Language
0                                             Title                  NaN
1  Intolerance: Love’s Struggle Throughout the Ages    Drama|History|War
2                    Over the Hill to the Poorhouse          Crime|Drama
3                                    The Big Parade    Drama|Romance|War
4                                        Metropolis         Drama|Sci-Fi
5                                     Pandora’s Box  Crime|Drama|Romance

In [8]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",skiprows=1)
df

,Title,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Intolerance: Love’s Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907.0,NaN,...,436,22,9,481,691,1,10718,88,69,8.0
1,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000.0,3000000.0,...,2,2,0,4,0,1,5,1,1,4.8
2,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000.0,NaN,...,81,12,6,108,226,0,4849,45,48,8.3
3,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435.0,...,136,23,18,203,12000,1,111841,413,260,8.3
4,Pandora’s Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950.0,...,426,20,3,455,926,1,7431,84,71,8.0

In [10]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",index_col='Year')
df

,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,…,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 21
Year,,,,,,,,,,,,,,,,,,,,,
Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Intolerance: Love’s Struggle Throughout the Ages,1916.0,Drama|History|War,NaN,USA,Not Rated,123.0,1.33,385907.0,NaN,D.W. Griffith,...,436.0,22.0,9.0,481.0,691.0,1.0,10718.0,88.0,69.0,8.0
Over the Hill to the Poorhouse,1920.0,Crime|Drama,NaN,USA,NaN,110.0,1.33,100000.0,3000000.0,Harry F. Millarde,...,2.0,2.0,0.0,4.0,0.0,1.0,5.0,1.0,1.0,4.8
The Big Parade,1925.0,Drama|Romance|War,NaN,USA,Not Rated,151.0,1.33,245000.0,NaN,King Vidor,...,81.0,12.0,6.0,108.0,226.0,0.0,4849.0,45.0,48.0,8.3
Metropolis,1927.0,Drama|Sci-Fi,German,Germany,Not Rated,145.0,1.33,6000000.0,26435.0,Fritz Lang,...,136.0,23.0,18.0,203.0,12000.0,1.0,111841.0,413.0,260.0,8.3
Pandora’s Box,1929.0,Crime|Drama|Romance,German,Germany,Not Rated,110.0,1.33,NaN,9950.0,Georg Wilhelm Pabst,...,426.0,20.0,3.0,455.0,926.0,1.0,7431.0,84.0,71.0,8.0

In [11]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",index_col=3)
df

,Year,Genres,Language,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,…,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 21
Country,,,,,,,,,,,,,,,,,,,,,
NaN,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
NaN,Intolerance: Love’s Struggle Throughout the Ages,1916.0,Drama|History|War,USA,Not Rated,123.0,1.33,385907.0,NaN,D.W. Griffith,...,436.0,22.0,9.0,481.0,691.0,1.0,10718.0,88.0,69.0,8.0
NaN,Over the Hill to the Poorhouse,1920.0,Crime|Drama,USA,NaN,110.0,1.33,100000.0,3000000.0,Harry F. Millarde,...,2.0,2.0,0.0,4.0,0.0,1.0,5.0,1.0,1.0,4.8
NaN,The Big Parade,1925.0,Drama|Romance|War,USA,Not Rated,151.0,1.33,245000.0,NaN,King Vidor,...,81.0,12.0,6.0,108.0,226.0,0.0,4849.0,45.0,48.0,8.3
German,Metropolis,1927.0,Drama|Sci-Fi,Germany,Not Rated,145.0,1.33,6000000.0,26435.0,Fritz Lang,...,136.0,23.0,18.0,203.0,12000.0,1.0,111841.0,413.0,260.0,8.3
German,Pandora’s Box,1929.0,Crime|Drama|Romance,Germany,Not Rated,110.0,1.33,NaN,9950.0,Georg Wilhelm Pabst,...,426.0,20.0,3.0,455.0,926.0,1.0,7431.0,84.0,71.0,8.0

In [12]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",header=4)
df

,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000,NaN.1,...,81,12,6,108,226,0,4849,45,48,8.3
0,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000.0,26435,...,136,23,18,203,12000,1,111841,413,260,8.3
1,Pandora’s Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950,...,426,20,3,455,926,1,7431,84,71,8.0

In [14]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",header= None,prefix="Akash")
df

,Akash0,Akash1,Akash2,Akash3,Akash4,Akash5,Akash6,Akash7,Akash8,Akash9,...,Akash12,Akash13,Akash14,Akash15,Akash16,Akash17,Akash18,Akash19,Akash20,Akash21
0,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,NaN
1,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Intolerance: Love’s Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907,NaN,...,436,22,9,481,691,1,10718,88,69,8.0
3,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000,3000000,...,2,2,0,4,0,1,5,1,1,4.8
4,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000,NaN,...,81,12,6,108,226,0,4849,45,48,8.3
5,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000,26435,...,136,23,18,203,12000,1,111841,413,260,8.3
6,Pandora’s Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950,...,426,20,3,455,926,1,7431,84,71,8.0

In [18]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",names=['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o'])
df

,,,,,,,a,b,c,d,e,f,g,h,i,j,k,l,m,n,o
Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,…,Facebook Likes – Actor 1,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,NaN
Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Intolerance: Love’s Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907,NaN,D.W. Griffith,…,436,22,9,481,691,1,10718,88,69,8.0
Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000,3000000,Harry F. Millarde,…,2,2,0,4,0,1,5,1,1,4.8
The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000,NaN,King Vidor,…,81,12,6,108,226,0,4849,45,48,8.3
Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000,26435,Fritz Lang,…,136,23,18,203,12000,1,111841,413,260,8.3
Pandora’s Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,9950,Georg Wilhelm Pabst,…,426,20,3,455,926,1,7431,84,71,8.0

In [19]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv")
df.head()

,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 21
0,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Intolerance: Love’s Struggle Throughout the Ages,1916.0,Drama|History|War,NaN,USA,Not Rated,123.0,1.33,385907.0,NaN,...,436.0,22.0,9.0,481.0,691.0,1.0,10718.0,88.0,69.0,8.0
2,Over the Hill to the Poorhouse,1920.0,Crime|Drama,NaN,USA,NaN,110.0,1.33,100000.0,3000000.0,...,2.0,2.0,0.0,4.0,0.0,1.0,5.0,1.0,1.0,4.8
3,The Big Parade,1925.0,Drama|Romance|War,NaN,USA,Not Rated,151.0,1.33,245000.0,NaN,...,81.0,12.0,6.0,108.0,226.0,0.0,4849.0,45.0,48.0,8.3
4,Metropolis,1927.0,Drama|Sci-Fi,German,Germany,Not Rated,145.0,1.33,6000000.0,26435.0,...,136.0,23.0,18.0,203.0,12000.0,1.0,111841.0,413.0,260.0,8.3

In [22]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv")
df.head(3)

,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 21
0,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Intolerance: Love’s Struggle Throughout the Ages,1916.0,Drama|History|War,NaN,USA,Not Rated,123.0,1.33,385907.0,NaN,...,436.0,22.0,9.0,481.0,691.0,1.0,10718.0,88.0,69.0,8.0
2,Over the Hill to the Poorhouse,1920.0,Crime|Drama,NaN,USA,NaN,110.0,1.33,100000.0,3000000.0,...,2.0,2.0,0.0,4.0,0.0,1.0,5.0,1.0,1.0,4.8

In [23]:
df.tail()

,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 21
1,Intolerance: Love’s Struggle Throughout the Ages,1916.0,Drama|History|War,NaN,USA,Not Rated,123.0,1.33,385907.0,NaN,...,436.0,22.0,9.0,481.0,691.0,1.0,10718.0,88.0,69.0,8.0
2,Over the Hill to the Poorhouse,1920.0,Crime|Drama,NaN,USA,NaN,110.0,1.33,100000.0,3000000.0,...,2.0,2.0,0.0,4.0,0.0,1.0,5.0,1.0,1.0,4.8
3,The Big Parade,1925.0,Drama|Romance|War,NaN,USA,Not Rated,151.0,1.33,245000.0,NaN,...,81.0,12.0,6.0,108.0,226.0,0.0,4849.0,45.0,48.0,8.3
4,Metropolis,1927.0,Drama|Sci-Fi,German,Germany,Not Rated,145.0,1.33,6000000.0,26435.0,...,136.0,23.0,18.0,203.0,12000.0,1.0,111841.0,413.0,260.0,8.3
5,Pandora’s Box,1929.0,Crime|Drama|Romance,German,Germany,Not Rated,110.0,1.33,NaN,9950.0,...,426.0,20.0,3.0,455.0,926.0,1.0,7431.0,84.0,71.0,8.0

In [24]:
df.tail(2)

,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,Director,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 21
4,Metropolis,1927.0,Drama|Sci-Fi,German,Germany,Not Rated,145.0,1.33,6000000.0,26435.0,...,136.0,23.0,18.0,203.0,12000.0,1.0,111841.0,413.0,260.0,8.3
5,Pandora’s Box,1929.0,Crime|Drama|Romance,German,Germany,Not Rated,110.0,1.33,NaN,9950.0,...,426.0,20.0,3.0,455.0,926.0,1.0,7431.0,84.0,71.0,8.0

In [29]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",dtype={'Budget':'int32'})
df

ValueError: cannot safely convert passed user dtype of int32 for float64 dtyped data in column 7

In [30]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv")
df

,TruFal,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 22
0,Yes,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Yes,Intolerance: Love’s Struggle Throughout the Ages,1916.0,Drama|History|War,NaN,USA,Not Rated,123.0,1.33,385907.0,...,436.0,22.0,9.0,481.0,691.0,1.0,10718.0,88.0,69.0,8.0
2,Yes,Over the Hill to the Poorhouse,1920.0,Crime|Drama,NaN,USA,NaN,110.0,1.33,100000.0,...,2.0,2.0,0.0,4.0,0.0,1.0,5.0,1.0,1.0,4.8
3,Yes,The Big Parade,1925.0,Drama|Romance|War,NaN,USA,Not Rated,151.0,1.33,245000.0,...,81.0,12.0,6.0,108.0,226.0,0.0,4849.0,45.0,48.0,8.3
4,Yes,Metropolis,1927.0,Drama|Sci-Fi,German,Germany,Not Rated,145.0,1.33,6000000.0,...,136.0,23.0,18.0,203.0,12000.0,1.0,111841.0,413.0,260.0,8.3
5,Yes,Pandora’s Box,1929.0,Crime|Drama|Romance,German,Germany,Not Rated,110.0,1.33,NaN,...,426.0,20.0,3.0,455.0,926.0,1.0,7431.0,84.0,71.0,8.0

In [32]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",true_values=['Yes'])
df

,TruFal,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 22
0,True,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,True,Intolerance: Love’s Struggle Throughout the Ages,1916.0,Drama|History|War,NaN,USA,Not Rated,123.0,1.33,385907.0,...,436.0,22.0,9.0,481.0,691.0,1.0,10718.0,88.0,69.0,8.0
2,True,Over the Hill to the Poorhouse,1920.0,Crime|Drama,NaN,USA,NaN,110.0,1.33,100000.0,...,2.0,2.0,0.0,4.0,0.0,1.0,5.0,1.0,1.0,4.8
3,True,The Big Parade,1925.0,Drama|Romance|War,NaN,USA,Not Rated,151.0,1.33,245000.0,...,81.0,12.0,6.0,108.0,226.0,0.0,4849.0,45.0,48.0,8.3
4,True,Metropolis,1927.0,Drama|Sci-Fi,German,Germany,Not Rated,145.0,1.33,6000000.0,...,136.0,23.0,18.0,203.0,12000.0,1.0,111841.0,413.0,260.0,8.3
5,True,Pandora’s Box,1929.0,Crime|Drama|Romance,German,Germany,Not Rated,110.0,1.33,NaN,...,426.0,20.0,3.0,455.0,926.0,1.0,7431.0,84.0,71.0,8.0

In [33]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",false_values=['Yes'])
df

,TruFal,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 22
0,False,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,False,Intolerance: Love’s Struggle Throughout the Ages,1916.0,Drama|History|War,NaN,USA,Not Rated,123.0,1.33,385907.0,...,436.0,22.0,9.0,481.0,691.0,1.0,10718.0,88.0,69.0,8.0
2,False,Over the Hill to the Poorhouse,1920.0,Crime|Drama,NaN,USA,NaN,110.0,1.33,100000.0,...,2.0,2.0,0.0,4.0,0.0,1.0,5.0,1.0,1.0,4.8
3,False,The Big Parade,1925.0,Drama|Romance|War,NaN,USA,Not Rated,151.0,1.33,245000.0,...,81.0,12.0,6.0,108.0,226.0,0.0,4849.0,45.0,48.0,8.3
4,False,Metropolis,1927.0,Drama|Sci-Fi,German,Germany,Not Rated,145.0,1.33,6000000.0,...,136.0,23.0,18.0,203.0,12000.0,1.0,111841.0,413.0,260.0,8.3
5,False,Pandora’s Box,1929.0,Crime|Drama|Romance,German,Germany,Not Rated,110.0,1.33,NaN,...,426.0,20.0,3.0,455.0,926.0,1.0,7431.0,84.0,71.0,8.0

In [34]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",na_values='USA')
df

,TruFal,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 22
0,Yes,Title,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Yes,Intolerance: Love’s Struggle Throughout the Ages,1916.0,Drama|History|War,NaN,NaN,Not Rated,123.0,1.33,385907.0,...,436.0,22.0,9.0,481.0,691.0,1.0,10718.0,88.0,69.0,8.0
2,Yes,Over the Hill to the Poorhouse,1920.0,Crime|Drama,NaN,NaN,NaN,110.0,1.33,100000.0,...,2.0,2.0,0.0,4.0,0.0,1.0,5.0,1.0,1.0,4.8
3,Yes,The Big Parade,1925.0,Drama|Romance|War,NaN,NaN,Not Rated,151.0,1.33,245000.0,...,81.0,12.0,6.0,108.0,226.0,0.0,4849.0,45.0,48.0,8.3
4,Yes,Metropolis,1927.0,Drama|Sci-Fi,German,Germany,Not Rated,145.0,1.33,6000000.0,...,136.0,23.0,18.0,203.0,12000.0,1.0,111841.0,413.0,260.0,8.3
5,Yes,Pandora’s Box,1929.0,Crime|Drama|Romance,German,Germany,Not Rated,110.0,1.33,NaN,...,426.0,20.0,3.0,455.0,926.0,1.0,7431.0,84.0,71.0,8.0

In [35]:
df= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",keep_default_na=False)
df

,TruFal,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 22
0,Yes,Title,,,,,,,,,...,,,,,,,,,,
1,Yes,Intolerance: Love’s Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907,...,436,22,9,481,691,1,10718,88,69,8
2,Yes,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000,...,2,2,0,4,0,1,5,1,1,4.8
3,Yes,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000,...,81,12,6,108,226,0,4849,45,48,8.3
4,Yes,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000,...,136,23,18,203,12000,1,111841,413,260,8.3
5,Yes,Pandora’s Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,...,426,20,3,455,926,1,7431,84,71,8

In [41]:
df1= pd.read_csv("C:\\Users\\AKASH SONI\\Desktop\\frgi.csv",na_filter=False)
df1

,TruFal,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 22
0,Yes,Title,,,,,,,,,...,,,,,,,,,,
1,Yes,Intolerance: Love’s Struggle Throughout the Ages,1916,Drama|History|War,NaN,USA,Not Rated,123,1.33,385907,...,436,22,9,481,691,1,10718,88,69,8
2,Yes,Over the Hill to the Poorhouse,1920,Crime|Drama,NaN,USA,NaN,110,1.33,100000,...,2,2,0,4,0,1,5,1,1,4.8
3,Yes,The Big Parade,1925,Drama|Romance|War,NaN,USA,Not Rated,151,1.33,245000,...,81,12,6,108,226,0,4849,45,48,8.3
4,Yes,Metropolis,1927,Drama|Sci-Fi,German,Germany,Not Rated,145,1.33,6000000,...,136,23,18,203,12000,1,111841,413,260,8.3
5,Yes,Pandora’s Box,1929,Crime|Drama|Romance,German,Germany,Not Rated,110,1.33,NaN,...,426,20,3,455,926,1,7431,84,71,8

In [42]:
df1.isnull()

,TruFal,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 22
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [44]:
df.isnull().sum()

TruFal                         0
Year                           0
Genres                         0
Language                       0
Country                        0
Content Rating                 0
Duration                       0
Aspect Ratio                   0
Budget                         0
Gross Earnings                 0
Director                       0
…                              0
Facebook Likes – Actor 1       0
Facebook Likes – Actor 2       0
Facebook Likes – Actor 3       0
Facebook Likes – cast Total    0
Facebook likes – Movie         0
Facenumber in posters          0
User Votes                     0
Reviews by Users               0
Reviews by Crtiics             0
IMDB Score                     0
Unnamed: 22                    0
dtype: int64

In [45]:
df.isnull().sum().sum()

0

In [48]:
df.notnull()

,TruFal,Year,Genres,Language,Country,Content Rating,Duration,Aspect Ratio,Budget,Gross Earnings,...,Facebook Likes – Actor 2,Facebook Likes – Actor 3,Facebook Likes – cast Total,Facebook likes – Movie,Facenumber in posters,User Votes,Reviews by Users,Reviews by Crtiics,IMDB Score,Unnamed: 22
0,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
2,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True
5,True,True,True,True,True,True,True,True,True,True,...,True,True,True,True,True,True,True,True,True,True

In [49]:
df.notnull().sum()

TruFal                         6
Year                           6
Genres                         6
Language                       6
Country                        6
Content Rating                 6
Duration                       6
Aspect Ratio                   6
Budget                         6
Gross Earnings                 6
Director                       6
…                              6
Facebook Likes – Actor 1       6
Facebook Likes – Actor 2       6
Facebook Likes – Actor 3       6
Facebook Likes – cast Total    6
Facebook likes – Movie         6
Facenumber in posters          6
User Votes                     6
Reviews by Users               6
Reviews by Crtiics             6
IMDB Score                     6
Unnamed: 22                    6
dtype: int64

In [54]:
#for series
import numpy as np
import pandas as pd
s=pd.Series([1,2,3,np.nan,4,5,6])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
6    6.0
dtype: float64

In [55]:
s.isnull()

0    False
1    False
2    False
3     True
4    False
5    False
6    False
dtype: bool

In [56]:
s.isnull().sum()

1

In [57]:
s.notnull()

0     True
1     True
2     True
3    False
4     True
5     True
6     True
dtype: bool

In [58]:
s.notnull().sum()

6